---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
      Howdy! I am currently a 3rd year Ph.D. student at Texas A&M University, advised by <a href="http://people.tamu.edu/~sji/">Dr. Shuiwang Ji</a>, the leader of the <b>D</b>ata <b>I</b>ntegration, <b>V</b>isualization, and <b>E</b>xploration (<b>DIVE</b>) Lab.
      I got my B.E. from University of Science and Technology of China in Computer Science and Technology (honor class) in 2020.
  </p>

  <p>
      My research interests are general machine learning and deep learning. My interest topics include <b>Graph learning, Out-of-Distribution generalization, Causality, and Explainability</b>. Specifically, I am exploring how causal inference can
      guide us with more generalizable machine learning model in different tasks, e.g., chemistry, bioinfomation, and physical simulations. One significant challenge is how can we verify the validity of our causal assumptions.
  </p>
    <p>
        I am enthusiastically open to collaboration and actively seeking internship opportunities. If you're interested in working together or have opportunities available, please feel free to reach out to me!
    </p>
  <!--
  I am a Postdoc at the department of Management Science and Engineering at Stanford University, working with <a href="https://web.stanford.edu/~jugander/" target="_blank">Johan Ugander</a>. 
  My research develops tools for analyzing large-scale social data, aiming to provide a better understanding of social structure and behaviors online while also impacting the design of digital social systems.
  My work often falls at the intersections of Social Networks, Machine Learning, and Causal Inference.
  </p>

  <p>
  I completed my Ph.D. from MIT in 2020 under the supervision of Deb Roy. 
  Before coming to MIT, I spent one year in Paris and one year in Barcelona doing a M.Sc. in Data mining and Knowledge Management. 
  I got my B.Sc. from Staffordshire University with First Class honors in Computer Science. 
  Throughout my graduate studies, I spent several summers doing internships in industry, including Yahoo! Labs, Amazon, LinkedIn, and Facebook.
  </p>
  -->
</div>


<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
    <h4><b>News</b></h4>
    <ul>
        {% for nw in site.data.news.news %}
        <!-- <a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a> -->

        <div class="row"><div class="twop columns"><b>{{ nw.date }}</b></div> <div class="ten columns">{{ nw.title }} <i>{{ nw.subtitle }}</i></div></div>
        {% endfor %}
    </ul>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
    <h4><b>Publications</b> [<a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>]</h4>

    <!--   <p>Most recent publications on <a href="{{ site.data.main_info.googlescholar }}" target="_blank">Google Scholar</a>.<br/> -->
    * indicates equal contribution.</p>

    <!--
    <ul class="tab-nav">
      <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
      <li><div class="button" data-ref="#papers-all">All</div></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="papers-selected">
        {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
        {% for paper in selected_papers %}
          <div class="paper">
            <p class="title"><b>{{ paper.title }}</b></p>
            <p>{{ paper.authors }}</p>
            <p><i>{{ paper.venue }}</i></p>
             <div class="paper-buttons">
              {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
              {% endif %}

              {% if paper.slides %}
                <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
              {% endif %}

              {% if paper.poster %}
                <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
              {% endif %}

              {% if paper.UKSPNg %}
                <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
              {% endif %}

              {% if paper.blogpost %}
                <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
              {% endif %}

              {% if paper.video %}
                <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
              {% endif %}

              {% if paper.notebook %}
                <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
              {% endif %}

              {% if paper.repo %}
                <a class="button" href="{{ paper.repo }}" target="_blank">Repo</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="tab-pane" id="papers-all"> -->
    <!--       {% for paper in site.data.publications.papers %}
            <div class="paper">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
               <div class="paper-buttons">
                {% if paper.preprint %}
                  <a class="button" href="{{ paper.preprint | prepend: site.baseurl }}" target="_blank">Preprint</a>
                {% endif %}

                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.workshop_website %}
                  <a class="button" href="{{ paper.workshop_website | prepend: site.baseurl }}" target="_blank">Workshop Website</a>
                {% endif %}


                {% if paper.code %}
                  <a class="button" href="{{ paper.code | prepend: site.baseurl }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.UKSPNg %}
                  <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
                {% endif %}

                {% if paper.blogpost %}
                  <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
                {% endif %}

                {% if paper.pressrel %}
                  <a class="button" href="{{ paper.pressrel | prepend: site.baseurl }}" target="_blank">Press Coverage</a>
                {% endif %}

                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.notebook %}
                  <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
                {% endif %}

                {% if paper.data %}
                  <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.literature_collection %}
                  <a class="button" href="{{ paper.literature_collection }}" target="_blank">Literature collection</a>
                {% endif %}
              </div>
            </div>
          {% endfor %} -->
    {% for year in site.data.publications.pubs %}
    <h5><b>{{year.year}}</b></h5>
    {% for paper in year.papers %}
    <div class="paper">
        <div class="row">
            <div class="four columns">
                <div class="figure">
                    <img src='{{ site.baseurl }}{{ paper.img }}' width="100%">
                </div>
            </div>
            <div class="eight columns">
                <!--               <div class="vertical-center"> -->
                <p class="title"><b>{{ paper.title }}</b></p>
                <p>{{ paper.authors }}</p>
                <p><i>{{ paper.venue }}</i></p>
                {% if paper.note %}
                <!--                   <p><b>{{ paper.note }}</b></p> -->
                <p>{{ paper.note }}</p>
                {% endif %}
                <div class="paper-buttons">
                    {% if paper.preprint %}
                    <a class="button" href="{{ paper.preprint | prepend: site.baseurl }}" target="_blank">Preprint</a>
                    {% endif %}

                    {% if paper.paper_pdf %}
                    <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                    {% endif %}


                    {% if paper.code %}
                    <a class="button" href="{{ paper.code | prepend: site.baseurl }}" target="_blank">Code</a>
                    {% endif %}

                    {% if paper.code_star %}
                    <img src='{{ site.baseurl }}{{ paper.code_star }}' height="20%" >
                    {% endif %}

                    {% if paper.documentation %}
                    <a class="button" href="{{ paper.documentation | prepend: site.baseurl }}" target="_blank">Documentation</a>
                    {% endif %}

                    {% if paper.slides %}
                    <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                    {% endif %}

                    {% if paper.poster %}
                    <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                    {% endif %}

                    {% if paper.supplement %}
                    <a class="button" href="{{ paper.supplement | prepend: site.baseurl }}" target="_blank">Supplement</a>
                    {% endif %}

                    {% if paper.UKSPNg %}
                    <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
                    {% endif %}

                    {% if paper.blogpost %}
                    <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
                    {% endif %}

                    {% if paper.pressrel %}
                    <a class="button" href="{{ paper.pressrel | prepend: site.baseurl }}" target="_blank">Press Coverage</a>
                    {% endif %}

                    {% if paper.video %}
                    <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                    {% endif %}

                    {% if paper.notebook %}
                    <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
                    {% endif %}

                    {% if paper.data %}
                    <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                    {% endif %}

                    {% if paper.literature_collection %}
                    <a class="button" href="{{ paper.literature_collection }}" target="_blank">Paper collection</a>
                    {% endif %}

                    {% if paper.literature_collection_star %}
                    <img src='{{ site.baseurl }}{{ paper.literature_collection_star }}' height="20%" >
                    {% endif %}


                </div>
                <!--               </div> -->
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <!--    </div>
      </div> -->
</div>


<!-- ========== Services ========== -->
<div class="docs-section" id="services">
    <h4><b>Services</b></h4>
    <div class="paper">
        {% for sv in site.data.services.sesseion_chair %}
        <p>{{ sv.venue }} <i style="float:right;"> {{ sv.year }}</i></p>
        {% endfor %}
    </div>
    <h5>Program Committee Member & Reviewer</h5>
    <div class="paper">
        {% for sv in site.data.services.reviewers %}
        <p>{{ sv.venue }} <i style="float:right;"> {{ sv.year }}</i></p>
        {% endfor %}
        </dive>
    </div>


    <!-- ========== reusme ========== -->
    <div class="docs-section" id="resume">
        <h4><b>Résumé</b></h4>
<!--        <p>Here is my <a href={{ "/assets/Resume_meng.pdf" | prepend: site.baseurl }} target="_blank">résumé</a>.</p>-->

        <!-- The Timeline -->
        <ul class="timeline">
            {% for exp in site.data.experience.experiences %}
            <li>
                {% if exp.category == "work" %}
                <div class="direction-l">
                    {% else %}
                    <div class="direction-r">
                        {% endif %}
                        <div class="flag-wrapper">
                            <span class="flag">{{ exp.place }}</span>
                            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
                        </div>
                        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
                    </div>
            </li>
            {% endfor %}
        </ul>
    </div>

